.filters{
    button{
        border: none;
        background-color: deeppink;
        border-radius: 8px;
        padding: 4px 8px;
        svg{
            width: 20px;
            fill: $black;
        }
    }
    input{
        border-radius: 8px;

    }
}