.botonera{
    background-color: deeppink;
}
    .botonera img{
        width: 150px;
    }
    .botonera a{
        color: white;
    }

/* fondos */
.bg-pink{
    background-color: deeppink;
    color: white;
}
.botonera svg{
width: 30px;
fill: white;
}